.container {
    display: grid;
    grid-template-columns: 1fr 1280px 1fr;
}

p {
    font-size: 20px;
    font-weight: bold;
}

header p:first-child {
    color: green;
    font-size: 24px;
}

main {
    height: 900px;
    grid-column: 2;
    border: 1px solid tomato;
}

.diagram {
    margin: 7px;
}

.graf {
    margin: 7px;
}

.reinbow {
    text-align: center;
}